# macOS
.DS_Store

# Windows
Thumbs.db

# Eclipse
.classpath
.project
.settings

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea

# VS Code
.vscode/

# Vim
.*.swp

# Maven
.checkstyle
/release.properties
pom.xml.releaseBackup
target/
test-output/
!**/src/main/**/target/
!**/src/test/**/target/

# Python
*.pyc
*.pyo
.ropeproject

# Node.js
node_modules/

# JasperReports
*.jasper
